html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--accent-color: #2196f3;
	--base-color: #212121;
	--contact-color: #757575;
	--light-text: #ffffff;
}

/*body {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--base-color);
}*/

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/*.navigation {
	display: flex;
}*/

h1 {
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	/*background-color: rgba(47, 48, 58, 0.8);*/
	color: var(--light-text);
	margin: 0;
}

header {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--base-color);
}

.page-header {
	background: #ffffff;
}

h2 {
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--base-color);
}

h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--base-color);
}

li {
	list-style: none;
	text-decoration: none;
}

p {
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--contact-color);
}

footer {
	background: #2f303a;
}

.flexbox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.site-nav {
	display: flex;
	padding: 0;
	margin: 0;
}

.logo {
	text-decoration: none;
	margin-right: 85px;
}

.logo-web {
	color: var(--accent-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-studio-header {
	color: var(--base-color);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-studio-footer {
	color: var(--light-text);
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.navigation {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.menu-item:not(:last-child) {
	margin-right: 50px;
}

.header-contacts {
	display: inline-block;
}

.header-contacts:not(:first-child) {
	margin-left: 50px;
}

.menu-link {
	color: var(--base-color);
	text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
	color: #2196f3;
}

.menu-link-current {
	color: var(--accent-color);
	text-decoration: none;
}

.menu-contacts {
	color: var(--contact-color);
	text-decoration: none;
	font-style: normal;
}

.menu-contacts:hover,
.menu-contacts:focus {
	color: #2196f3;
}

.hero {
	background-color: rgba(47, 48, 58, 0.8);
	font-family: Roboto;
}

.banner {
	display: flex;
	flex-direction: column;
	width: 1600px;
	height: 600px;
	padding-top: 200px;
}
.page-title {
	margin-bottom: 40px;
}

.btn {
	padding: 10, 32px;
	background: #2196f3;
	border-radius: 4px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--light-text);
	/*display: inline-block;*/
}

.advantege-list {
	display: flex;
}

.list-item {
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
	color: var(--base-color);
}

.team-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--base-color);
	text-transform: capitalize;
}

.team-item {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

.social-link {
	text-decoration: none;
	color: #afb1b8;
}

.address {
	font-family: Roboto;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--light-text);
	background: #2f303a;
}

.join {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light-text);
}

/*portfolio*/

.filter-button {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--base-color);
	background-color: #f5f4fa;
	border-radius: 4px;
	text-decoration: none;
}
.filter-button:hover,
.filter-button:focus {
	background: var(--accent-color);
	color: var(--light-text);
}
.card {
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--base-color);
}
.content {
	font-family: Roboto;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--light-text);
	background: rgba(33, 150, 243, 0.9);
}

.content:hover,
.content:focus {
	background: rgba(33, 150, 243, 0.9);
	color: var(--light-text);
}

.filter-content {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--contact-color);
}
